body{
    font-family: 'Rubik', sans-serif;
    padding: 0%;
    margin: 0%;
}

h1{
    font-size: 35px;
    line-height: 30px;
}

.cmw{
    font-size: 45px;
    margin-top: -10px;
}

.orange-color{
    color: orange;
    motion: 0ch;
}

.flexble{
    display: flex;
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 50px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.first-width{
    
    padding-top: 80px;
}
.hireme{
    
    background-color: orange;
    color: white;
    font-size: 18px;
    border-width: 0px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}
.half-width img{
    width: 80%;
     
}
.experinece {
    background-color: white;
}
.dream-big{
    display: flex;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.left-experince{

    box-shadow: 10px 10px 20px gray;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 30px;
    border-left: solid 5px red;
}

.right-experince{

    box-shadow: 10px 10px 20px gray;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 30px;
    border-left: solid 5px blue;
}